/* ! GRID STYLING */
/* 
    grid-template-rows: 2fr 20% 200px; <-- details the row only.

    grid-template-column: 2fr 50% 100px; <-- details the column only.
        - can use the same measurements.

    columns: 
        - Required
        - If not set, only 1 column will default.
    rows:
        - optional
        - neccessary if rows are different sizes.
    gap:
        - determines the gap between rows/columns.
        - property used with gap is uniform
            - column-gap: specifying column only.
            - row-gap: specifying row only.
*/

.grid-sample {
    /* 
        - rows will be divided up into quarters
        - columns are divided into 8ths
    */
    display: grid;
    grid-template: repeat(4, 25%) / repeat(8, 12.5%);
}

.grid-sample h1 {   
    /* 
        - the h1 spans the width of 8 columns
    */
    text-align: center;
    grid-column: span 8;
}

#grid-sidebar {
    /* 
        - Will start in column 1 and only cover 2 columns
        - Will start on the second row and cover only 2 rows.
    */  
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
}

#grid-article {   
    /* 
        - row start / column start / row end / column end
    */
    grid-area: 2 / 3 / 3 / 9;
}

.grid-sample footer {   
    /* 
        - Starts in column 1 and spans the entire 8 columns
        - Will start at the 4th row.
            - Doesn't need to note ending as this is the last row.
    */
    text-align: center;
    grid-column: 1 / span 8;
    grid-row: 4;
}

